<div data-controller="addPermittedDomainForm" class="w-full">
  
    <%= form_tag add_permitted_domain_path(), 'data-target' => "addPermittedDomainForm.form", :method => :post, :id => "addPermittedDomainForm_form", :authenticity_token => true, :remote => true do %>
        <%= hidden_field_tag :blog_uid, @blog_uid %>
        <div class="w-full flex">
            <div class="mr-1">
                <input id="permitted_domain" name="permitted_domain" data-target="addPermittedDomainForm.permittedDomainInput" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-1 px-1 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 text-sm" type="text" placeholder="domain.com">
            </div>
            <div class="">
                <%= submit_tag "add", 'data-action' => 'click->addPermittedDomainForm#add', :class => "h-6 text-xs px-2 py-1 leading-none border rounded text-gray-500 border-gray-500 hover:border-gray-900 hover:text-gray-900", :id => "addPermittedDomainForm_add_button" %>
            </div>
            <div class="">
                <a href="/reload_blog_details?uid=<%= @blog_uid %>" data-remote="true" class="text-xs h-6 text-xs px-1 py-1 leading-none text-gray-500 hover:border-gray-900 hover:text-gray-900">cancel</a>
            </div>
        </div>
        <p class="text-red-500 text-xs italic hidden leading-none" data-target="addPermittedDomainForm.permittedDomainError"></p>
    <% end %>
  
  
    <div class="hidden leading-none" data-target="addPermittedDomainForm.errorMessageHolder" id="addPermittedDomainForm_errorMessageHolder">
      
      <span data-target="addPermittedDomainForm.errorMessage" id="addPermittedDomainForm_errorMessage" class="text-red-500 text-xs italic hidden">
  
      </span>
      
    </div>
    
    <div class="hidden leading-none" data-target="addPermittedDomainForm.processingMessageHolder" id="addPermittedDomainForm_processingMessageHolder">
      
      <div class="">
        <span data-target="addPermittedDomainForm.processingMessage" id="addPermittedDomainForm_processingMessage" class="text-red-500 text-xs italic hidden">
  
        </span>
      </div>
      
      <div class="mt-0 ml-1">
        <img src="<%= image_path('dots.svg') %>"/>
      </div>
      
    </div>
    
</div>