<div data-controller="editPostForm" class="mt-16 mx-auto w-full sm:w-full md:w-1/2 lg:w-1/2">
  
  <%= form_tag save_post_content_path(), 'data-target' => "editPostForm.form", :method => :post, :id => "editPostForm_form", :authenticity_token => true, :remote => true do %>

        <%= hidden_field_tag :post_uid, @post["post_uid"] %>

        <div class="mt-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="post_title">
                Post title
            </label>
            <input id="post_title" name="post_title" data-target="editPostForm.postTitleInput" value=<%= @post["post_title"] %> class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" placeholder="What's the post title?">
            <p class="text-red-500 text-xs italic hidden" data-target="editPostForm.postTitleError"></p>
        </div>
        
        <div class="mt-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="post_content">
                Content
            </label>
            <textarea id="post_content" name="post_content" data-target="editPostForm.postContentInput" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" rows="3" placeholder="Tell us about it!"><%= @post["post_content"]%></textarea>
            <p class="text-red-500 text-xs italic hidden" data-target="editPostForm.postContentError"></p>
        </div>
        
        <div class="mt-6">
            <div class="">
                <%= submit_tag "Save changes", 'data-action' => 'click->editPostForm#save', :class => "shadow bg-gray-700 hover:bg-gray-900 focus:bg-gray-900 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded", :id => "createBlogAndPostForm_create_button" %>
            </div>
        </div>

  <% end %>
  
  <div class="flex hidden py-10 hidden" data-target="editPostForm.errorMessageHolder" id="editPostForm_errorMessageHolder">
    
    <div class="">
      <span data-target="editPostForm.errorMessage" id="editPostForm_errorMessage" class="text-red-500 text-md">

      </span>
    </div>
    
  </div>
  
  <div class="flex hidden py-10" data-target="editPostForm.processingMessageHolder" id="editPostForm_processingMessageHolder">
    
    <div class="">
      <span data-target="editPostForm.processingMessage" id="editPostForm_processingMessage" class="text-gray-700 text-md">

      </span>
    </div>
    
    <div class="mt-4 ml-1">
      <img src="<%= image_path('dots.svg') %>"/>
    </div>
    
  </div>
  
</div>