<% if @post.present? %>

  <div class="mx-auto mt-16 py-8 px-8 w-full sm:w-full md:w-2/3 lg:w-2/3 mb-48" data-controller="postJsController">
  
    <div>
      <a href="/blogs" class="text-sm underline">Back to my blogs and posts</a>
    </div>
    
    <div class="w-full flex justify-between">
      <h2 class="text-2xl font-display font-semibold leading-tight mt-2 lg:leading-tight"><%= @post["post_title"] %></h2>
    </div>
    
    <div class="w-full flex flex-wrap justify-between">
      <div class="leading-none mb-2">
         <% if @post["post_last_published"].present? %>
           <span class="uppercase tracking-widest text-xs text-blue-300">published: <%= @post["post_last_published"] %></span>
           <br/> 
         <% end %>
         <span class="uppercase tracking-widest text-xs text-gray-400">updated: <%= @post["post_last_updated"] %></span>
      </div>
      <div>
        <a href="#" data-action="click->postJsController#toggle" data-remote="true" class="h-8 px-2 pt-1 pb-2 leading-none border rounded text-gray-500 border-gray-500 hover:border-gray-900 hover:text-gray-900 mt-4 lg:mt-4 mr-0"><span class="uppercase tracking-widest text-xs">&lt;iframe&gt;</span></a>
        <% if @post["post_status"] == "draft" %>
          <a href="/ask?q=Are%20you%20sure%20you%20want%20to%20PUBLISH%20this%20post&#63;&a=publish_post&#63;uid=<%= @post["post_uid"] %>" data-remote="true" class="h-8 px-2 pt-1 pb-2 leading-none border rounded text-gray-500 border-gray-500 hover:border-gray-900 hover:text-gray-900 mt-4 lg:mt-4 mr-0"><span class="uppercase tracking-widest text-xs">publish</span></a>
        <% else %>
          <a href="/ask?q=Are%20you%20sure%20you%20want%20to%20UNPUBLISH%20this%20post&#63;&a=unpublish_post&#63;uid=<%= @post["post_uid"] %>" data-remote="true" class="h-8 px-2 pt-1 pb-2 leading-none border rounded text-gray-500 border-gray-500 hover:border-gray-900 hover:text-gray-900 mt-4 lg:mt-4 mr-0"><span class="uppercase tracking-widest text-xs">unpublish</span></a>
        <% end %>
        <a href="/ask?q=Are%20you%20sure%20you%20want%20to%20delete%20this%20post&#63;&a=delete_post&#63;uid=<%= @post["post_uid"] %>" data-remote="true" class="h-8 px-2 pt-1 pb-2 leading-none border rounded text-gray-500 border-gray-500 hover:border-gray-900 hover:text-gray-900 mt-4 lg:mt-4 mr-0"><span class="uppercase tracking-widest text-xs">delete</span></a>
        <a href="/edit_post?uid=<%= @post["post_uid"] %>" class="h-8 px-2 pt-1 pb-2 leading-none border rounded text-gray-500 border-gray-500 hover:border-gray-900 hover:text-gray-900 mt-4 lg:mt-4"><span class="uppercase tracking-widest text-xs">edit</span></a>
      </div>
    </div>
    
    <div class="mt-4 mb-3 hidden" data-target="postJsController.code">
      <textarea data-target="postJsController.iframeParent" readonly class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"><iframe src="<%= Rails.configuration.access_point["webserver_domain"]%>/embed?uid=<%= @post["post_uid"]%>" frameborder="0" allowfullscreen="" style="estimated_display_dimensions" data-ready="true"></iframe></textarea>
    </div>
    
    <div class="w-full mt-4">
      <div class="embedded_post" data-target="postJsController.content">
        <%= raw @post["post_content"] %>
      </div>
    </div>
    
  </div>

<% else %>

  <div class="mt-48 mb-48">
      <p class="mt-2 text-center"><%= @error_message %></p>
  </div>
  <div class="mt-10 text-center">
      <a href="/blogs" class="inline-block text-md px-4 py-2 leading-none border rounded text-gray-900 border-gray-900 hover:border-transparent hover:text-gray-100 hover:bg-black mt-4 lg:mt-4 mr-4">back to the blog list</a>
  </div>

<% end %>