
<% if @already_upgraded == true %>

  <div class="mt-20 mb-10 w-full mx-auto text-center">
    <span class="text-3xl font-black">You're good to go!</span>
  </div> 

  <div class="py-8 px-8 flex flex-wrap w-full sm:w-full md:w-2/5 lg:w-2/5 mx-auto">
  
    <div class="rounded-lg overflow-hidden shadow-lg border-2 border-gray-200 py-10">
      <img class="w-full" src="<%= image_path("blogembed-buyer.jpg") %>" alt="BlogEmbed Hero">
      <div class="px-6 py-4">
        <div class="font-black text-xl mb-2">BlogEmbed Hero</div>
        <p class="text-gray-700 text-base text-lg">
          $5/month all-inclusive, unlimited published posts, no hidden fees
        </p>
      </div>
      <div class="px-6 py-4 text-center">
        <a href="#!">
          <div class="bg-transparent text-gray-500 py-2 px-4 border border-gray-500 rounded font-light">
            current plan
          </div>
        </a>
      </div>
    </div>

  </div>  
  
  <div class="mt-10 mb-24 w-full md:w-2/5 mx-auto text-center px-2">
    <p class="text-lg">
      Thank you for your support! If you have any questions or need to change your account type, we'd love to <a href="/help" class="underline">help</a> you! Don't be shy.
    </p>
  </div> 

<% else %>

  <div class="mt-20 mb-20 w-full mx-auto text-center">
    <span class="text-5xl font-black">Ready for more?</span>
  </div>  
    
  <div class="py-8 px-8 flex flex-wrap w-full sm:w-full md:w-2/3 lg:w-2/3 mx-auto mt-4">
      
    <div class="max-w-sm rounded overflow-hidden py-10">
      <img class="w-full" src="<%= image_path("blogembed-tirekicker.jpg") %>" alt="BlogEmbed Tire-Kicker">
      <div class="px-6 py-4">
        <div class="font-black text-xl mb-2">BlogEmbed Tire-kicker</div>
        <p class="text-gray-700 text-base text-lg">
          Limited to 3 published posts, but free
        </p>
      </div>
      <div class="px-6 py-4 text-center mt-6">
        <div class="bg-transparent text-gray-500 py-2 px-4 border border-gray-500 rounded font-light">
          current plan
        </div>
      </div>
    </div>
  
    <div class="max-w-sm rounded-lg overflow-hidden shadow-lg hover:shadow-2xl border-2 border-gray-200 pt-10 pb-4 px-6" id="become_a_hero">
      <img class="w-full" src="<%= image_path("blogembed-buyer.jpg") %>" alt="BlogEmbed Hero">
      <div class="px-6 py-4">
        <div class="font-black text-xl mb-2">BlogEmbed Hero</div>
        <p class="text-gray-700 text-base text-lg">
          $5/month all-inclusive, unlimited published posts, no hidden fees
        </p>
      </div>
      
      <div data-controller="stripe">
        
        <div class="px-4 py-4 text-center"  data-target="stripe.upgradeButton">
          <a href="#" data-remote="true" data-action="click->stripe#showPurchaseFormHolder">
            <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
              upgrade
            </div>
          </a>
        </div>
        
        <div class="px-6 pt-1 pb-4 hidden" data-target="stripe.purchaseFormHolder">

          <div class="">
                          
            <label for="card-element" class="text-md text-gray-700">Credit or debit card info:</label>
                
            <form
              data-controller="stripe"
              data-target="stripe.form"
              data-stripe-public-key="<%= Rails.application.secrets['stripe_public_key']%>"
              action="/process_upgrade" method="post">
              <div class="form-row">
  
                <div data-target="stripe.cardElement" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                  <!-- A Stripe Element will be inserted here. -->
                </div>
        
                <!-- Used to display form errors. -->
                <div data-target="stripe.cardErrors" class="text-red-500"></div>
                
              </div>
            
              <button name="button" type="submit" class="mt-4 mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">purchase</button>
              
            </form>
            
          </div>
        
          <div class="flex">

            <div>
              <div class="mr-2 rounded-full h-8 w-8 flex items-center justify-center bg-gray-300 text-white">
                <svg class="fill-current h-3 w-3 cursor-default" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>lock-closed</title><path d="M11,14.7324356 C11.5978014,14.3866262 12,13.7402824 12,13 C12,11.8954305 11.1045695,11 10,11 C8.8954305,11 8,11.8954305 8,13 C8,13.7402824 8.40219863,14.3866262 9,14.7324356 L9,17 L11,17 L11,14.7324356 Z M13,6 C13,4.34314575 11.6568542,3 10,3 C8.34314575,3 7,4.34314575 7,6 L7,8 L13,8 L13,6 Z M4,8 L4,6 C4,2.6862915 6.6862915,0 10,0 C13.3137085,0 16,2.6862915 16,6 L16,8 L17.0049107,8 C18.1067681,8 19,8.90195036 19,10.0085302 L19,17.9914698 C19,19.1007504 18.1073772,20 17.0049107,20 L2.99508929,20 C1.8932319,20 1,19.0980496 1,17.9914698 L1,10.0085302 C1,8.8992496 1.8926228,8 2.99508929,8 L4,8 Z" id="Combined-Shape"></path></svg>
              </div>
            </div>
            <div class="leading-none">
              <span class="text-xs text-gray-400">Securely powered by <a href="https://stripe.com/en-ca" target="_new" class="font-bold underline">Stripe.com</a>. <span class="text-xs text-gray-400">BlogEmbed.com DOES NOT store credit card information.</span></span>
            </div>

          </div>
        
        </div>
        
      </div>
      
    </div>
      
  </div>
  




  <div class="py-8 px-8 w-full sm:w-full md:w-2/3 lg:w-2/3 mx-auto mt-16">
    
    <div class="mt-4 mb-4">
      <div class="text-2xl font-black leading-tight">What's BlogEmbed again?</div>
      <p class="text-lg">
        BlogEmbed.com is a tool made for influencers and content creators who need the ability to control access to their content and need the same ease-of-use as embedding video content. Just like many content creators who embed their video content on their websites using iFrames, now with BlogEmbed.com you can do the same thing for your blog posts content.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">Why would you want to embed a video or a post on your website?</div>
      <p class="text-lg">To control the access to it. That way you can control the experience and the audience access.</p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">How does it work?</div>
      <%= render '/help/how_does_it_work' %>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">Can I cancel at any time?</div>
      <p class="text-lg">
        There's no minimum contract — cancel at any time without penalty or hassle.
      </p>
    </div>
    
    <div class="mt-10 mb-4">
      <div class="text-2xl font-black leading-tight">What if I have more questions?</div>
      <p class="text-lg">
        Happy to <a href="/help" class="underline">help</a>, we're all in this together.
      </p>
    </div>
    
  </div>
  
  <div class="mx-auto py-8 px-8 mt-16 object-center text-center ">
    <div class="text-2xl font-black leading-tight text-gray-800">It's time.</div>
    <a href="upgrade#become_a_hero">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
        upgrade
      </button>
    </a>
  </div>

<% end %>









