<!DOCTYPE html>
<html>
  <head>
    <title>BlogEmbed - Privacy-first blog post delivery through iframes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  </head>

  <body data-controller="main">
    
    <% if params[:controller] == "blogs" || params[:controller] == "upgrade" %>
    
      <div class="flex">
  
        <div class="flex mt-2 ml-2">
            <a href="/blogs">
              <img src="<%= image_path('logo-1.svg') %>" style="height:45px;"/>
            </a>
            <a href="/blogs">
              <p class="text-2xl mt-1">BlogEmbed</p>
            </a>  
        </div>
        
        <% if cookies[:db_session_token].present? %>
      
          <div class="absolute inset-y-0 right-0">
                <a href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-900 hover:border-transparent hover:text-gray-100 hover:bg-black mt-4 lg:mt-4 mr-4" data-remote="true">log out</a>
          </div> 
        
        <% end %>
        
      </div>
    
    <% end %>
    
    <div id="broadcaster_holder">
      
      <%= render 'broadcaster' %>
      
    </div>
    
    <div id="popup_holder">
      

    </div>
    
    
    <div class="pointer-events-none">
      
    </div>
    
    <%= yield %>
    
  </body>
  
</html>
