<!DOCTYPE html>
<html>
  <head>
    <title>BlogEmbed - Privacy-first blog post delivery through iframes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  </head>

  <body data-controller="main">
    
    <% if params[:controller] == "blogs" || params[:controller] == "upgrade" %>
    
      <div class="flex">
  
        <div class="flex mt-2 ml-2">
            <a href="/blogs">
              <img src="<%= image_path('logo-1.svg') %>" style="height:45px;"/>
            </a>
            <a href="/blogs">
              <p class="text-2xl mt-1">BlogEmbed</p>
            </a>  
        </div>
        
        <% if cookies[:db_session_token].present? %>
      
          <div class="absolute right-0">
            <div class="flex flex-wrap">
              <div class="mt-4 mr-2">
                <a href="/help">
                  <div class="inline-block text-md px-4 py-2 leading-none rounded text-gray-700 hover:text-gray-900 font-bold">Help</div>
                </a>
              </div>
              <div class="mt-4 mr-2">
                <a href="/upgrade">
                  <% if @account_type.present? && @account_type == "hero" %>
                    <span class="inline-block bg-blue-500 rounded-full px-3 py-1 text-md font-semibold text-gray-100">Hero</span>
                  <% else %>
                    <div class="inline-block text-md px-4 py-2 leading-none rounded text-gray-700 hover:text-gray-900 font-bold">Upgrade</div>
                  <% end %>
                </a>
              </div>
              <div class="mt-4 mr-4">
                <a href="/logout" class="inline-block text-md px-4 py-2 leading-none rounded text-gray-700 hover:text-gray-900 font-bold" data-remote="true">Log out</a>
              </div>
            </div>
          </div> 
        
        <% end %>
        
      </div>
    
    <% end %>
    
    <div id="broadcaster_holder">
      
      <%= render 'broadcaster' %>
      
    </div>
    
    <div id="popup_holder">
      

    </div>
    
    
    <div class="pointer-events-none">
      
    </div>
    
    <%= yield %>
    
  </body>
  
</html>
